@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

/* Header Starts */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

.site-logo img {
  height: 5rem;
}

.App {
  margin: 1% 5%;
}

main {
  display: flex;
  justify-content: space-between;
}

.music-card > div {
  margin: 1rem 0;
  width: 10vw;
  cursor: pointer;
}

.music-card > div:hover {
  transform: skew(5deg);
  transition: all 1s;
}

.card-nature {
  padding: 1rem;
  background-color: lightgreen;
}

.card-lofi {
  padding: 1rem;
  background-color: lightcoral;
}

.card-whiteNoise {
  padding: 1rem;
  background-color: antiquewhite;
}

/* Timer Stylig */
.timer-wrapper {
  text-align: center;
}

.top-tab > button {
  margin: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.btn-pomodoro {
  background-color: lightgreen;
}

.btn-shortBreak {
  background-color: lightcoral;
  color: white;
}

.btn-longBreak {
  background-color: orangered;
  color: white;
}

.displayTimer {
  font-size: 7rem;
  font-weight: bold;
  border: 1rem solid black;
}

.bottom-tab > button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.btn-reset {
  background-color: red;
  color: whitesmoke;
}

/* Right Sidebar */

.task-section {
  padding: 1rem;
}

.task-section input {
  width: 10vw;
  padding: 0.5rem;
  text-indent: 0.4rem;
}

.tasks > ul > li {
  color: red;
  text-decoration: none;
}
