@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

.site-logo img {
  height: 5rem;
}

.App {
  margin: 1% 5%;
}

main {
  display: flex;
  justify-content: space-between;
}

.timer-wrapper {
  text-align: center;
}
